In [1]:
import pandas as pd
import numpy as np
import re
import requests
from bs4 import BeautifulSoup

In [211]:
raw = pd.read_excel('data/working data/country_score.xlsx')

In [212]:
raw.head(2)

,Country Code ISO3,Country,year,population,SDG Index Score,Goal 1 Score,Goal 2 Score,Goal 3 Score,Goal 4 Score,Goal 5 Score,...,n_sdg16_weaponsexp,n_sdg16_rsf,n_sdg16_justice,n_sdg16_admin,n_sdg16_exprop,n_sdg17_govex,n_sdg17_oda,n_sdg17_govrev,n_sdg17_cohaven,n_sdg17_statperf
0,AFG,Afghanistan,2000,19669913.0,36.011178,28.836,27.317429,19.249714,1.633,20.83,...,100.0,47.167,42.308,12.143,8.8,20.667,NaN,0.0,100.0,16.297
1,AFG,Afghanistan,2001,19416052.0,36.309069,28.836,30.564571,19.380714,1.633,20.83,...,100.0,47.167,42.308,12.143,8.8,20.667,NaN,0.0,100.0,16.297

In [213]:
raw.iloc[:,0:22]

,Country Code ISO3,Country,year,population,SDG Index Score,Goal 1 Score,Goal 2 Score,Goal 3 Score,Goal 4 Score,Goal 5 Score,...,Goal 8 Score,Goal 9 Score,Goal 10 Score,Goal 11 Score,Goal 12 Score,Goal 13 Score,Goal 14 Score,Goal 15 Score,Goal 16 Score,Goal 17 Score
0,AFG,Afghanistan,2000,19669913.0,36.011178,28.8360,27.317429,19.249714,1.63300,20.83000,...,38.481286,5.183429,NaN,25.79900,94.708571,99.401667,NaN,51.8860,39.223818,34.24100
1,AFG,Afghanistan,2001,19416052.0,36.309069,28.8360,30.564571,19.380714,1.63300,20.83000,...,38.489143,5.183429,NaN,25.79900,94.510571,99.398333,NaN,51.8860,39.223818,34.24100
2,AFG,Afghanistan,2002,19961213.0,36.289025,28.8360,30.703143,19.655857,1.63300,20.83000,...,38.409429,5.183429,NaN,26.14150,94.101571,99.378333,NaN,51.8360,39.223818,34.24100
3,AFG,Afghanistan,2003,22039300.0,36.690066,28.8360,32.460857,19.865643,1.63300,20.83000,...,38.443000,5.195286,NaN,26.48425,94.383571,99.371667,NaN,51.8360,39.223818,34.24100
4,AFG,Afghanistan,2004,23250960.0,37.054653,28.8360,32.092286,21.113643,1.63300,20.83000,...,38.481857,5.195286,NaN,26.82675,94.834143,99.401667,NaN,51.8360,39.223818,34.24100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,ZWE,Zimbabwe,2018,14900379.0,55.925966,26.4120,46.638500,39.768000,57.94600,76.68625,...,63.760714,23.543333,32.4315,79.20950,94.573429,94.124333,NaN,76.4460,45.481545,45.59650
4136,ZWE,Zimbabwe,2019,15203989.0,53.729608,21.3910,46.039667,40.615929,60.56575,76.96025,...,62.807857,23.783500,23.9810,58.58425,94.573429,94.226000,NaN,76.3960,43.965000,44.52725
4137,ZWE,Zimbabwe,2020,15505226.0,54.299088,20.0690,47.221667,41.547143,62.04550,76.96025,...,62.900429,25.444833,23.9810,59.97250,94.573429,94.304333,NaN,76.3960,44.631727,46.03475
4138,ZWE,Zimbabwe,2021,15834106.0,54.782128,20.8335,48.358167,41.907714,62.49700,77.07050,...,63.134429,26.964000,23.9810,61.19000,94.504286,94.256000,NaN,77.9426,43.084000,48.08800
4139,ZWE,Zimbabwe,2022,16152942.0,55.602292,21.4530,48.491000,41.907714,62.49700,77.17750,...,63.164714,26.964000,23.9810,65.65425,94.504286,94.256000,NaN,77.8926,40.477455,47.78100

In [214]:
global_score = raw.loc[:,['Country Code ISO3', 'Country', 'year', 'population', 'SDG Index Score']]

In [287]:
global_score.head(1)

  Country Code ISO3      Country  year  population  SDG Index Score
0               AFG  Afghanistan  2000  19669913.0        36.011178

In [215]:
#global_score.to_csv('country_gobal_score.csv', index=False)

In [216]:
goals_score = raw.iloc[:,0:22]
goals_score.drop(columns = 'SDG Index Score', inplace = True)

In [288]:
goals_score.head(1)

,Country Code ISO3,Country,year,population,Goal 1 Score,Goal 2 Score,Goal 3 Score,Goal 4 Score,Goal 5 Score,Goal 6 Score,...,Goal 8 Score,Goal 9 Score,Goal 10 Score,Goal 11 Score,Goal 12 Score,Goal 13 Score,Goal 14 Score,Goal 15 Score,Goal 16 Score,Goal 17 Score
0,AFG,Afghanistan,2000,19669913.0,28.836,27.317429,19.249714,1.633,20.83,32.388,...,38.481286,5.183429,NaN,25.799,94.708571,99.401667,NaN,51.886,39.223818,34.241

In [217]:
#goals_score.to_csv('goals_score.csv', index=False)

In [7]:
goal_1 = raw.drop(columns = raw.columns[4:22])
goal_1.drop(columns = goal_1.columns[6:], inplace = True)

In [218]:
#goal_1.to_csv('goal_1.csv', index=False)

In [8]:
goal_2 = raw.drop(columns = raw.columns[4:24])
goal_2.drop(columns = goal_2.columns[12:], inplace = True)

In [219]:
#goal_2.to_csv('goal_2.csv', index=False)

In [9]:
goal_3 = raw.drop(columns = raw.columns[4:32])
goal_3.drop(columns = goal_3.columns[18:], inplace = True)

In [220]:
#goal_3.to_csv('goal_3.csv', index=False)

In [10]:
goal_4 = raw.drop(columns = raw.columns[4:46])
goal_4.drop(columns = goal_4.columns[8:], inplace = True)

In [221]:
#goal_4.to_csv('goal_4.csv', index=False)

In [11]:
goal_5 = raw.drop(columns = raw.columns[4:50])
goal_5.drop(columns = goal_5.columns[8:], inplace = True)

In [222]:
#goal_5.to_csv('goal_5.csv', index=False)

In [12]:
goal_6 = raw.drop(columns = raw.columns[4:54])
goal_6.drop(columns = goal_6.columns[9:], inplace = True)

In [223]:
#goal_6.to_csv('goal_6.csv', index=False)

In [13]:
goal_7 = raw.drop(columns = raw.columns[4:59])
goal_7.drop(columns = goal_7.columns[8:], inplace = True)

In [224]:
#goal_7.to_csv('goal_7.csv', index=False)

In [14]:
goal_8 = raw.drop(columns = raw.columns[4:63])
goal_8.drop(columns = goal_8.columns[11:], inplace = True)

In [225]:
#goal_8.to_csv('goal_8.csv', index=False)

In [15]:
goal_9 = raw.drop(columns = raw.columns[4:70])
goal_9.drop(columns = goal_9.columns[11:], inplace = True)

In [226]:
#goal_9.to_csv('goal_9.csv', index=False)

In [16]:
goal_10 = raw.drop(columns = raw.columns[4:77])
goal_10.drop(columns = goal_10.columns[6:], inplace = True)

In [227]:
#goal_10.to_csv('goal_10.csv', index=False)

In [17]:
goal_11 = raw.drop(columns = raw.columns[4:79])
goal_11.drop(columns = goal_11.columns[8:], inplace = True)

In [228]:
#goal_11.to_csv('goal_11.csv', index=False)

In [18]:
goal_12 = raw.drop(columns = raw.columns[4:83])
goal_12.drop(columns = goal_12.columns[11:], inplace = True)

In [229]:
#goal_12.to_csv('goal_12.csv', index=False)

In [19]:
goal_13 = raw.drop(columns = raw.columns[4:90])
goal_13.drop(columns = goal_13.columns[7:], inplace = True)

In [230]:
#goal_13.to_csv('goal_13.csv', index=False)

In [20]:
goal_14 = raw.drop(columns = raw.columns[4:93])
goal_14.drop(columns = goal_14.columns[10:], inplace = True)

In [231]:
#goal_14.to_csv('goal_14.csv', index=False)

In [21]:
goal_15 = raw.drop(columns = raw.columns[4:99])
goal_15.drop(columns = goal_15.columns[9:], inplace = True)

In [232]:
#goal_15.to_csv('goal_15.csv', index=False)

In [22]:
goal_16 = raw.drop(columns = raw.columns[4:104])
goal_16.drop(columns = goal_16.columns[15:], inplace = True)

In [233]:
#goal_16.to_csv('goal_16.csv', index=False)

In [23]:
goal_17 = raw.drop(columns = raw.columns[4:115])

In [234]:
#goal_17.to_csv('goal_17.csv', index=False)

In [24]:
#country codes
url = 'https://cloford.com/resources/codes/index.htm'
response = requests.get(url)
html_content = response.content
soup = BeautifulSoup(html_content, 'html.parser')
table = soup.find_all('table', class_='outlinetable')

In [25]:
table_data = []
for row in table[0].find_all('tr'):
    row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]  # Extract text from each cell
    table_data.append(row_data)

In [26]:
country_codes = pd.DataFrame(table_data[1:], columns = table_data[0])

In [27]:
country_codes = country_codes.iloc[:,0:7]

In [28]:
country_codes

,Continent,Region,Country,Capital,FIPS,ISO (2),ISO (3)
0,Asia,South Asia,Afghanistan,Kabul,AF,AF,AFG
1,Europe,South East Europe,Albania,Tirana,AL,AL,ALB
2,Africa,Northern Africa,Algeria,Algiers,AG,DZ,DZA
3,Oceania,Pacific,American Samoa,Pago Pago,AQ,AS,ASM
4,Europe,South West Europe,Andorra,Andorra la Vella,AN,AD,AND
...,...,...,...,...,...,...,...
227,Oceania,Pacific,Western Samoa,Apia,WS,WS,WSM
228,Asia,South West Asia,Yemen,Sanaa,YM,YE,YEM
229,Africa,Central Africa,Zaire (Dem Rep of Congo),Kinshasa,CG,ZR,ZAR
230,Africa,Southern Africa,Zambia,Lusaka,ZA,ZM,ZWB
231,Africa,Southern Africa,Zimbabwe,Harare,ZI,ZW,ZWE

In [29]:
country_codes.drop(columns=['Capital', 'FIPS', 'ISO (2)'], inplace = True)

In [30]:
country_names = pd.DataFrame(raw['Country'])
country_names['ISO (3)'] = raw['Country Code ISO3']
country_names.drop_duplicates(inplace=True)

In [31]:
countries = pd.merge(country_names, country_codes, how= 'left', on='ISO (3)')
countries[countries['Continent'].isna()]

                           Country_x       ISO (3) Continent Region Country_y
36                  Congo, Dem. Rep.           COD       NaN    NaN       NaN
47               East and South Asia     _E_S_Asia       NaN    NaN       NaN
48   Eastern Europe and Central Asia  _E_Euro_Asia       NaN    NaN       NaN
68             High-income Countries          _HIC       NaN    NaN       NaN
88   Latin America and the Caribbean          _LAC       NaN    NaN       NaN
94       Lower & Lower-middle Income     _LIC_LMIC       NaN    NaN       NaN
95     Lower-middle-income Countries         _LMIC       NaN    NaN       NaN
96              Low-income Countries          _LIC       NaN    NaN       NaN
107     Middle East and North Africa         _MENA       NaN    NaN       NaN
110                       Montenegro           MNE       NaN    NaN       NaN
123                          Oceania      _Oceania       NaN    NaN       NaN
124                     OECD members         _OECD       NaN    NaN       NaN
135                          Romania           ROU       NaN    NaN       NaN
141                           Serbia           SRB       NaN    NaN       NaN
146   Small Island Developing States         _SIDS       NaN    NaN       NaN
149                      South Sudan           SSD       NaN    NaN       NaN
152               Sub-Saharan Africa       _Africa       NaN    NaN       NaN
171    Upper-middle-income Countries         _UMIC       NaN    NaN       NaN
176                            World        _World       NaN    NaN       NaN
178                           Zambia           ZMB       NaN    NaN       NaN

In [32]:
country_codes.replace({'SDN':'SSD','ROM':'ROU'}, inplace = True)

In [33]:
countries.loc[36,'Continent'] = 'Africa'
countries.loc[110,'Continent'] = 'Europe'
countries.loc[141,'Continent'] = 'Europe'
countries.loc[153,'Continent'] = 'Africa'
countries.loc[36,'Region'] = 'Central Africa'
countries.loc[110,'Region'] = 'South East Europe'
countries.loc[141,'Region'] = 'South East Europe'
countries.loc[153,'Region'] = 'Northern Africa'

In [34]:
countries.dropna(subset='Continent', inplace = True)

In [35]:
countries.rename(columns = {'Country_x':'Country'}, inplace = True)

In [36]:
countries.drop(columns = 'Country_y', inplace = True)

In [298]:
row = {'Country':'Liechtenstein', 'ISO (3)': 'LIE', 'Continent':'Europe', 'Region':'Western Europe'}
countries.loc[179] = row

In [37]:
countries[40:60]

               Country ISO (3) Continent             Region
40             Croatia     HRV    Europe  South East Europe
41                Cuba     CUB  Americas        West Indies
42              Cyprus     CYP      Asia    South West Asia
43             Czechia     CZE    Europe     Central Europe
44             Denmark     DNK    Europe    Northern Europe
45            Djibouti     DJI    Africa     Eastern Africa
46  Dominican Republic     DOM  Americas        West Indies
49             Ecuador     ECU  Americas      South America
50    Egypt, Arab Rep.     EGY    Africa    Northern Africa
51         El Salvador     SLV  Americas    Central America
52             Estonia     EST    Europe     Eastern Europe
53            Eswatini     SWZ    Africa    Southern Africa
54            Ethiopia     ETH    Africa     Eastern Africa
55                Fiji     FJI   Oceania            Pacific
56             Finland     FIN    Europe    Northern Europe
57              France     FRA    Europe     Western Europe
58               Gabon     GAB    Africa     Western Africa
59         Gambia, The     GMB    Africa     Western Africa
60             Georgia     GEO      Asia    South West Asia
61             Germany     DEU    Europe     Western Europe

In [300]:
#countries.to_csv('country_codes.csv', index = False)

In [39]:
#formating companies table and unifying country names and ISO3 codes

In [301]:
comp = pd.read_csv('data/working data/companies_esg.csv')

In [302]:
comp.head(1)

                 Companies   Symbols  Ratings             Risk
0  1-800-FLOWERS.COM, Inc.  NAS:FLWS     23.6  Medium ESG Risk

In [303]:
comp_country = pd.read_csv('data/working data/backup.csv')
comp_country_2 = pd.read_csv('data/working data/backup_2.csv')

In [304]:
comp_country.rename(columns={'industry':'Industry', 'country':'Country', 'symbol':'Symbols'}, inplace = True)

In [305]:
comp_country = pd.concat([comp_country,comp_country_2], ignore_index = True)

In [306]:
comp_country

                       Industry                   Country   Symbols
0                     Retailing  United States of America  NAS:FLWS
1    Telecommunication Services                   Germany   ETR:1U1
2               Pharmaceuticals  United States of America   NAS:TXG
3           Software & Services                    Poland   WAR:11B
4                         Banks  United States of America  NAS:SRCE
..                          ...                       ...       ...
667                   Retailing  United States of America  NAS:FLWS
668           Consumer Services                     Spain   WAR:EAT
669              Semiconductors                   Austria   SWX:AMS
670         Technology Hardware                    Taiwan  TAI:2489
671                   Retailing  United States of America  NAS:FLWS

[672 rows x 3 columns]

In [307]:
comp_country = comp_country.drop_duplicates(subset='Symbols')

In [308]:
comp_country = comp_country.reset_index(drop=True)

In [309]:
comp_country.drop(comp_country[comp_country['Symbols'] == '-'].index, inplace = True)

In [310]:
company_info = pd.merge(comp,comp_country, how='right', on='Symbols')

In [311]:
replacements = {'United States of America':'United States', 'Turkey':'TÃ¼rkiye', 'South Korea':'Korea, Rep.', 'Egypt':'Egypt, Arab Rep.', 'Gibraltar':'United Kingdom', 'Bermuda':'United Kingdom', 'Taiwan':'China', 'Hong Kong':'China'}

In [312]:
company_info.replace(replacements, inplace = True)

In [313]:
company_info = pd.merge(countries, company_info, how='right', on='Country')

In [314]:
company_info[company_info['Continent'].isna()]

Empty DataFrame
Columns: [Country, ISO (3), Continent, Region, Companies, Symbols, Ratings, Risk, Industry]
Index: []

In [315]:
len(company_info)

413

In [316]:
#Merging following scrappings:

In [563]:
comp_country_3 = pd.read_csv('data/working data/backup_3.csv')

In [564]:
len(comp_country_3)

1237

In [565]:
comp_country_3 = comp_country_3.drop_duplicates(subset='Companies')
comp_country_3 = comp_country_3.reset_index(drop=True)
comp_country_3.drop(columns='Symbols', inplace = True)

In [566]:
company_info_2 = pd.merge(comp,comp_country_3, how='right', on='Companies')
company_info_2 = company_info_2.drop_duplicates(subset='Companies')

In [567]:
company_info_2.head(2)

,Companies,Symbols,Ratings,Risk,Industry,Country
0,"AmTRAN Technology Co., Ltd.",TAI:2489,18.1,Low ESG Risk,Technology Hardware,Taiwan
1,"1-800-FLOWERS.COM, Inc.",NAS:FLWS,23.6,Medium ESG Risk,Retailing,United States of America

In [568]:
len(company_info_2)

921

In [569]:
replacements = {'United States of America':'United States', 'Turkey':'TÃ¼rkiye', 'South Korea':'Korea, Rep.', 'Egypt':'Egypt, Arab Rep.', 'Gibraltar':'United Kingdom', 'Bermuda':'United Kingdom', 'Taiwan':'China', 'Hong Kong':'China', 'Cayman Islands':'United Kingdom', 'Slovakia':'Slovak Republic', 'Czech Republic':'Czechia', 'Puerto Rico':'United States'}

In [570]:
company_info_2.replace(replacements, inplace = True)

In [571]:
company_info_2 = pd.merge(countries, company_info_2, how='right', on='Country')

In [572]:
companies_df = pd.concat([company_info,company_info_2], ignore_index = True)

In [573]:
companies_df = companies_df.drop_duplicates(subset='Companies')

In [574]:
companies_df[companies_df['Continent'].isna()]

Empty DataFrame
Columns: [Country, ISO (3), Continent, Region, Companies, Symbols, Ratings, Risk, Industry]
Index: []

In [575]:
print(len(companies_df))
print(len(company_info)+len(company_info_2))

1303
1334

In [576]:
len(companies_df.Country.unique())

54

In [577]:
companies_df[companies_df['Country'] == 'Germany']

,Country,ISO (3),Continent,Region,Companies,Symbols,Ratings,Risk,Industry
1,Germany,DEU,Europe,Western Europe,1&1 AG,ETR:1U1,23.1,Medium ESG Risk,Telecommunication Services
42,Germany,DEU,Europe,Western Europe,Aareal Bank AG,HAM:ARLN,18.7,Low ESG Risk,Banks
61,Germany,DEU,Europe,Western Europe,ABOUT YOU Holding SE,ETR:YOU,16.2,Low ESG Risk,Retailing
130,Germany,DEU,Europe,Western Europe,adesso SE,ETR:ADN1,21.5,Medium ESG Risk,Software & Services
133,Germany,DEU,Europe,Western Europe,adidas AG,ETR:ADS,14.6,Low ESG Risk,Textiles & Apparel
147,Germany,DEU,Europe,Western Europe,Adtran Networks SE,ETR:ADV,11.1,Low ESG Risk,Technology Hardware
246,Germany,DEU,Europe,Western Europe,AIXTRON SE,ETR:AIXA,21.3,Medium ESG Risk,Semiconductors
317,Germany,DEU,Europe,Western Europe,Allianz SE,ETR:ALV,13.3,Low ESG Risk,Insurance
346,Germany,DEU,Europe,Western Europe,alstria office REIT-AG,ETR:AOX,12.3,Low ESG Risk,Real Estate
367,Germany,DEU,Europe,Western Europe,Amadeus FiRe AG,ETR:AAD,11.6,Low ESG Risk,Commercial Services
740,Germany,DEU,Europe,Western Europe,Gemeinsame Deutsche BundeslÃ¤nder,-,20.6,Medium ESG Risk,Banks
840,Germany,DEU,Europe,Western Europe,Porsche AG,ETR:P911,17.1,Low ESG Risk,Automobiles
869,Germany,DEU,Europe,Western Europe,flatexDEGIRO AG,ETR:FTK,18.7,Low ESG Risk,Diversified Financials
873,Germany,DEU,Europe,Western Europe,Bausparkasse SchwÃ¤bisch Hall AG,-,21.8,Medium ESG Risk,Banks
1054,Germany,DEU,Europe,Western Europe,Bertrandt AG,ETR:BDT,23.3,Medium ESG Risk,Commercial Services
1124,Germany,DEU,Europe,Western Europe,SAP SE,ETR:SAP,12.6,Low ESG Risk,Software & Services
1236,Germany,DEU,Europe,Western Europe,JOST Werke SE,ETR:JST,17.9,Low ESG Risk,Machinery

In [578]:
companies_df = companies_df.drop(columns = ['Country', 'Continent', 'Region'])

In [580]:
#companies_df.to_excel('companies_df_1.xlsx', index=False)

In [293]:
#adding ESG detail scores to some companies

In [581]:
companies_df = pd.read_excel('data/working data/companies_df.xlsx')

In [582]:
companies_df_1 = pd.read_excel('data/working data/companies_df_1.xlsx')

In [583]:
companies_df = pd.concat([companies_df, companies_df_1], ignore_index = True)

In [584]:
companies_df = companies_df.drop_duplicates(subset='Companies')

In [585]:
esg_score_data = pd.read_excel('data/working data/esg_score_all.xlsx')

In [586]:
esg_score_data.head(1)

  Symbols  Company Name  Environmental score  Social score  Governance score
0     NVO  Novo Nordisk                  NaN           NaN               NaN

In [587]:
esg_score_data.rename(columns = {'Company Name':'Companies'}, inplace = True)
esg_score_data.drop(columns = 'Symbols', inplace = True)

In [588]:
companies_df

,ISO (3),Companies,Symbols,Ratings,Risk,Industry
0,USA,"1-800-FLOWERS.COM, Inc.",NAS:FLWS,23.6,Medium ESG Risk,Retailing
1,DEU,1&1 AG,ETR:1U1,23.1,Medium ESG Risk,Telecommunication Services
2,USA,"10X Genomics, Inc.",NAS:TXG,22.6,Medium ESG Risk,Pharmaceuticals
3,POL,11 Bit Studios SA,WAR:11B,16.3,Low ESG Risk,Software & Services
4,USA,1st Source Corp.,NAS:SRCE,29.1,Medium ESG Risk,Banks
...,...,...,...,...,...,...
2639,USA,"Booking Holdings, Inc.",NAS:BKNG,19.2,Low ESG Risk,Software & Services
2641,USA,"NextEra Energy, Inc.",NYS:NEE,23.1,Medium ESG Risk,Utilities
2642,USA,"Elevance Health, Inc.",NYS:ELV,10.6,Low ESG Risk,Healthcare
2644,USA,"Citigroup, Inc.",NYS:C,26.9,Medium ESG Risk,Banks
2645,USA,"The TJX Cos., Inc.",NYS:TJX,16.3,Low ESG Risk,Retailing

In [589]:
companies = pd.merge(companies_df, esg_score_data, on='Companies', how='left')

In [590]:
companies[companies['Environmental score'].isna() == False]

,ISO (3),Companies,Symbols,Ratings,Risk,Industry,Environmental score,Social score,Governance score
17,USA,3M Co.,NYS:MMM,41.0,Severe ESG Risk,Industrial Conglomerates,17.2,13.6,6.5
83,IRL,Accenture Plc,NYS:ACN,9.8,Negligible ESG Risk,Software & Services,0.8,4.6,4.4
104,ESP,ACS Actividades de ConstrucciÃ³n y Servicios SA,MCE:ACS,30.8,High ESG Risk,Construction & Engineering,8.3,19.8,8.7
133,DEU,adidas AG,ETR:ADS,14.6,Low ESG Risk,Textiles & Apparel,2.6,6.7,5.6
143,USA,"Adobe, Inc.",NAS:ADBE,14.9,Low ESG Risk,Software & Services,1.9,6.0,5.2
...,...,...,...,...,...,...,...,...,...
1408,USA,The Charles Schwab Corp.,NYS:SCHW,23.0,Medium ESG Risk,Diversified Financials,2.4,8.9,11.9
1410,USA,"Booking Holdings, Inc.",NAS:BKNG,19.2,Low ESG Risk,Software & Services,1.0,10.1,8.1
1411,USA,"NextEra Energy, Inc.",NYS:NEE,23.1,Medium ESG Risk,Utilities,9.4,8.3,5.6
1412,USA,"Elevance Health, Inc.",NYS:ELV,10.6,Low ESG Risk,Healthcare,0.1,6.0,5.3
1413,USA,"Citigroup, Inc.",NYS:C,26.9,Medium ESG Risk,Banks,1.8,13.8,13.7

In [591]:
#companies.to_csv('companies.csv', index=False)

In [459]:
#EDA

In [469]:
#all companies per country average

In [592]:
companies.head(1)

,ISO (3),Companies,Symbols,Ratings,Risk,Industry,Environmental score,Social score,Governance score
0,USA,"1-800-FLOWERS.COM, Inc.",NAS:FLWS,23.6,Medium ESG Risk,Retailing,NaN,NaN,NaN

In [593]:
company_summary = (companies.groupby(['ISO (3)']).agg({'Companies':'count', 'Ratings':'mean'}).sort_values(by=['Companies'] ,ascending = False)).reset_index()
company_summary.head(1)

  ISO (3)  Companies    Ratings
0     USA        366  24.471858

In [594]:
risk_values = (companies.groupby('Risk').agg({'Ratings':['min','max']})).reset_index().sort_values(('Ratings','min'))

In [595]:
risk_values.columns = risk_values.columns.droplevel()

In [596]:
risk_values = risk_values.rename(columns={'':'Risk'})

In [597]:
company_summary = pd.merge_asof(company_summary.sort_values('Ratings'),risk_values.sort_values('min'),left_on = 'Ratings', right_on = 'max', direction = 'forward')
company_summary.drop(columns = ['min','max'], inplace = True)

In [598]:
#company_summary.to_csv('company_summary.csv')

In [470]:
#all companies with detailed data

In [599]:
companies.head(1)

,ISO (3),Companies,Symbols,Ratings,Risk,Industry,Environmental score,Social score,Governance score
0,USA,"1-800-FLOWERS.COM, Inc.",NAS:FLWS,23.6,Medium ESG Risk,Retailing,NaN,NaN,NaN

In [600]:
companies_detail = companies.dropna(subset='Environmental score')

In [603]:
#companies_detail.to_csv('companies_detail.csv', index = False)

In [604]:
comp_detail = (companies_detail.groupby(['ISO (3)']).agg({'Companies':'count', 'Ratings':'mean', 'Environmental score':'mean', 'Social score':'mean', 'Governance score':'mean'}).sort_values(by=['Companies'] ,ascending = False)).reset_index()
comp_detail.head(1)

,ISO (3),Companies,Ratings,Environmental score,Social score,Governance score
0,USA,70,21.525714,4.422857,9.847143,7.52

In [605]:
comp_detail = pd.merge_asof(comp_detail.sort_values('Ratings'),risk_values.sort_values('min'),left_on = 'Ratings', right_on = 'max', direction = 'forward')

In [606]:
comp_detail.drop(columns = ['min','max'], inplace = True)

In [607]:
#comp_detail.to_csv('comp_detail.csv', index = False)