In [220]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text
import passwords

In [221]:
countries = pd.read_csv('data/final tables sql/country_codes.csv')

In [222]:
countries.rename(columns = {'ISO (3)':'iso_3'}, inplace = True)

In [223]:
global_scores = pd.read_csv('data/final tables sql/country_gobal_score.csv')

In [224]:
global_scores.dropna(subset = 'population', inplace = True)

In [225]:
global_scores.rename(columns = {'Country Code ISO3':'countries_iso_3','SDG Index Score':'index_score'}, inplace = True)

In [226]:
companies = pd.read_csv('data/final tables sql/companies.csv')

In [227]:
companies.columns = companies.columns.str.replace(' ','_').str.lower()
companies.rename(columns = {'iso_(3)':'countries_iso_3', 'environmental_score':'environment_score'}, inplace = True)

In [228]:
goals_scores = pd.read_csv('data/final tables sql/goals_score.csv')

In [229]:
goals_scores = goals_scores.rename(columns={'Country Code ISO3':'countries_iso_3'})

In [230]:
replacements = {}
for n in range(1,18):
    x = f'Goal {n} Score'
    y = f'goal_{n}'
    replacements.update({x:y})

In [231]:
goals_scores.rename(columns = replacements, inplace = True)

In [232]:
goals_scores = goals_scores.round(2)

In [233]:
goals_scores.dropna(subset = 'population', inplace = True)

In [234]:
#connecting to DB

In [235]:
password = passwords.password_sql

In [236]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost:3306/esg_scores'

In [237]:
engine = create_engine(connection_string)

In [238]:
countries.to_sql(name = 'countries',
                  con = engine,
                  if_exists = 'replace', 
                 index = False)

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'countries' referenced by a foreign key constraint 'fk_global_country_esg_countries' on table 'country_global_score'.")
[SQL:
DROP TABLE countries]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [239]:
global_scores.to_sql(name = 'country_global_scores',
                  con = engine,
                  if_exists = 'replace', 
                 index = False)

3818

In [240]:
goals_scores.to_sql(name = 'country_goals_scores',
                  con = engine,
                  if_exists = 'replace', 
                 index = False)

3818

In [241]:
companies.to_sql(name = 'company_ratings',
                  con = engine,
                  if_exists = 'replace', 
                 index = False)

1352